.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#qz{
    width: 700px;
    max-width: 800px;
    max-height: 800px;
    z-index: 100;
}
footer{
    position: absolute;
    top:90%;
    justify-content: center;
    left:47%;
}
.imgcat{
    width: 15vw;
    height: 25vh;
}